@color-general-font: #000;
@color-background: #fff;
@color-shadow: #000;
@color-border: #000;
@color-general-link: #000;
@color-general-link-active-hover: #ff0000;

@website-max-width: 1600px;
@header-max-width: 1280px;
@panel-max-width: 900px;

@gutter-mobile: 20px;
@gutter-tablet: 40px;
@gutter-laptop: 60px;
@gutter-desktop: 80px;

@slide-title-margin-bottom: 10px;

@fontsize-desktop: 18px;
@fontsize-laptop: 16px;
@fontsize-tablet: 14px;
@fontsize-mobile: 12px;

/*@color-primary: rgb(38, 67, 64);*/
@color-primary: #153d86;

@color-typo-gray: #bdb5a8;
@color-background-gray: #dedad4;
@color-background-light-gray: #f2f0ee;

@color-background-services: rgba(21, 61, 134, .95);

@slider-dots-size: 10px;

@image-ratio: 16/9*100%;