/* Component header */
@import "../@variables";

.header-base() {
    .header {
        path, polygon, rect {
            fill: white;
        }

        &__inner {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 3;
            transition: all cubic-bezier(.58,.1,.3,.96) .3s;
        }

        &--hide &__inner {
            transform: translateY(-100%);
        }

        &--with-background {
            .header__inner {
                background: white;

                path, polygon, rect {
                    fill: @color-primary;
                }
            }
        }
    }

    header--hide {
    }
}

.header-mobile() {
}

.header-after-mobile() {
}

.header-tablet() {
}

.header-tabletPortrait() {
}

.header-tabletLandscape() {
}

.header-after-tablet() {
}

.header-laptop() {
}

.header-desktop() {
}
.header-between-laptop-desktop() {
}

