/* Component icon */


.icon-base() {
    .icon:before, .icon:after {
        font-family: "icons";
        line-height: 1;
    }

    .icon--burguer:before {
        content: "\E800";
    }

    .icon--close:before {
        content: "\E801";
    }

    .icon--close-circle:before {
        content: "\E81F";
    }

    .icon--plus:before {
        content: "\E802";
    }

    .icon--plus-after:after {
        content: "\E802";
    }

    .icon--arrow-left:before {
        content: "\E803";
    }

    .icon--arrow-right:before {
        content: "\E805";
    }

    .icon--arrow-top:before {
        content: "\E806";
    }

    .icon--arrow-bottom:before {
        content: "\E804";
    }

    .icon--arrow-circle-left:before {
        content: "\E807";
    }

    .icon--arrow-circle-right:before {
        content: "\E809";
    }

    .icon--arrow-circle-top:before {
        content: "\E810";
    }

    .icon--arrow-circle-bottom:before {
        content: "\E808";
    }
    /*icons for MAP*/
    .icon--transport:before {
        content: "\E816";
    }

    .icon--retail:before {
        content: "\E815";
    }

    .icon--fooddrink:before {
        content: "\E811";
    }

    .icon--hotels:before {
        content: "\E812";
    }

    .icon--culture:before {
        content: "\E80F";
    }

    .icon--parkssquares:before {
        content: "\E814";
    }

    .icon--locallandmarks:before {
        content: "\E813";
    }

    .icon--featured:before {
        content: "\E80A";
    }

    .icon--arrow-map:before {
        content: "\E820";
    }
}


.icon-mobile() {
}


.icon-after-mobile() {
}


.icon-tablet() {
}


.icon-tabletPortrait() {
}


.icon-tabletLandscape() {
}


.icon-after-tablet() {
}


.icon-laptop() {
}


.icon-desktop() {
}


.icon-between-laptop-desktop() {
}

