/* Component our-lightbox */

.our-lightbox-base() {
    .our-lightbox {
        overflow: hidden;
        height: 100%;

        &__container {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1000;
            opacity: 0;
            transition: opacity linear 0.5s;

            .our-lightbox--shown & {
                transition: opacity linear 0.5s 0.5s;
                opacity: 1;
            }
        }

        &__bg {
            overflow: hidden;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 999;
            background: white;
            opacity: 0;
            transition: opacity linear 0.5s 0.5s;

            .our-lightbox--shown & {
                transition: opacity linear 0.5s;
                opacity: 1;
            }
        }
    }
}

.our-lightbox-mobile() {
}

.our-lightbox-after-mobile() {
}

.our-lightbox-tablet() {
}

.our-lightbox-tabletPortrait() {
}

.our-lightbox-tabletLandscape() {
}

.our-lightbox-after-tablet() {
}

.our-lightbox-laptop() {
}

.our-lightbox-desktop() {
}

.our-lightbox-between-laptop-desktop() {
}

