---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Bastion</title>
	</head>
	<body>
		<h1>Bastion test</h1>
		<p>Click here and go the <a href="/en/terms">terms</a> page.</p>
	</body>
</html>
